.sidebar {
  background-color: #ffebeb;
  min-width: 100px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.toggle-button {
  background-color: #ffebeb;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 4px;
}

.active {
  min-width: 350px;
}
