.sidebar {
  background-color: #ffebeb;
  min-width: 100px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  flex: 1;
}

.toggle-button {
  background-color: #ffebeb;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 4px;
}

.active {
  min-width: 500px;
  transition: all 0.3s;
}
