.shopping-cart-products-heading {
  font-size: 20px;
  font-weight: bold;
  margin: 1em 0;
}

.shopping-cart table {
  width: 100%;
}
.shopping-cart td,
.shopping-cart th {
  border: 1px solid #ddd;
  padding: 8px;
}

.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5em;
}

.notification > p {
  margin-top: 1em;
}
