.shopping-cart {
  /* width: 500px; */
}

.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5em;
}

.notification > p {
  margin-top: 1em;
}
